$fffAsh : #424242; 
$ffftext: #f2f2f2;
$fffsubmitbtn: #4caf50;

.submitbtn{
    background: $fffsubmitbtn !important;
}
.submitbtn:hover{
    background: $ffftext !important;
    color: $fffAsh !important;
    border-color:$fffsubmitbtn !important;
}