.table-text-color {
  color: #424242;
}
.order-history-container {
  margin: 20px;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  margin-bottom: 150px !important;
  width: 100%;
}
table tr {
  border: 1px solid #ddd;
  padding: 5px;
}
table th,
table td {
  padding: 10px;
  font-weight: 600;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
table th {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  table {
    border: 0;
    margin-bottom: 50px !important;
  }
  table thead {
    display: none;
  }
  table th {
    display: none;
  }
  table tr {
    border-bottom: 2px solid #ddd;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  table td {
    border-bottom: 1px dotted #ccc;
    display: block;
    font-size: 13px;
    text-align: right;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .vw-btn {
    border: none;
    margin-left: 5px;
    background: #4caf50;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 400ms;
  }
  .vw-btn:hover {
    background: #f2f2f2;
    color: #474747;
    cursor: pointer;
    transition: 400ms;
  }
  .table .td {
    padding: 00px !important;
    font-weight: 600;
    text-align: left !important;;
    padding-top: 0px !important;;
    padding-bottom: 0px !important;;
  }
}
